<app-toast [message]="toast.message"></app-toast>


<div class="pen-title">
  <h1>Login</h1><span> <i class='fa fa-paint-brush'></i> this is + <i class='fa fa-code'></i> login page </span>
</div>
<div class="form-module">
  <div class="toggle" (click)="register()"> <i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">Click Me</div>
  </div>
  <div class="passport">
    <button class="passapi google">Google</button>
    <button class="passapi facebook">Facebook</button>
    <button class="passapi twitter">Twitter</button>
  </div>
  <div class="form">
    <h2>Login to your accounttt</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div [ngClass]="setClassEmail()">
        <div class="inputtext">
          <span class="inputlabel"><i class="fa fa-envelope"></i> Email</span>
          <input class="login-input" type="email" name="email" formControlName="email" placeholder="Email" autofocus>
        </div>
      </div>
      <div [ngClass]="setClassPassword()">
        <span><i class="fa fa-key"></i> Password</span>
        <input class="login-input" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <br>
      <button class="button" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Login</button>
    </form>
  </div>
</div>
<div style="margin : 160px 0;"></div>
<div class="modal" [ngClass]="{'modal-show' : registerPopup}" >
  <div class="modal-layout" (click)="register()">
  </div>
  <div class="modal-box" [ngClass]="{'modal-box-show' : registerPopup}">
    <div class="modal-content">
      <app-register (closeFunction)="register()"></app-register>
    </div>
  </div>
</div>
<!--
<div class="blur">
</div>
-->