<div class="whole">
    <!-- 색깔 pick -->
    <div class="pick-color" [style.background-color]="baseColor" (click)="color1($event)" >
        <div class="selection" [style.left.px]="colorPointerX - 7" [style.top.px]="colorPointerY - 6"></div>
        <div class="white-layer"  ></div>
        <div class="black-layer"></div>
    </div>
    <!-- <div style="margin : 0 180px; display : inline-block;"></div> -->
    <!-- 색테마 -->
    <div class="pick-color-theme" (click)="color2($event)">
        <div class="selection" [style.top.px]="basePointerY - 6"></div>
    </div>
    <!-- <div style="margin : 20px 0;"></div> -->
    <!-- 투명도 -->
    <div class="pick-transparency" [style.background-color]="selectedColor" (click)="color3($event)">  
        <div class="white-layer"></div>  
        <div class="selection" [style.top.px]="alphaPointerY - 6"></div>
    </div>
    <div style="margin : 20px 0;"></div>
    Selected Color : <div style="display : inline-block; width : 280px; height : 40px;" [style.background-color]="plusAlpha">{{selectedColor}} {{plusAlpha}}</div>
</div>