<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div *ngIf="!isLoading">
  <h2>Registered users ({{users.length}})</h2>
  <div>
    <table class="admin-table">
      <thead class="admin-thead">
        <tr>
          <th class="admin-th">Username</th>
          <th class="admin-th">Email</th>
          <th class="admin-th">Role</th>
          <th class="admin-th">Actions</th>
        </tr>
      </thead>
      <tbody class="admin-tbody" *ngIf="users.length === 0">
        <tr>
          <td colspan="4">There are no registered users.</td>
        </tr>  
      </tbody>
      <tbody  class="admin-tbody">
        <tr class="admin-tr" *ngFor="let user of users">
          <td class="admin-td">{{user.username}}</td>
          <td class="admin-td">{{user.email}}</td>
          <td class="admin-td">{{user.role}}</td>
          <td class="admin-td" >
            <button class="button" (click)="deleteUser(user)" [disabled]="auth.currentUser._id === user._id">
              <i class="fa fa-trash"></i> delete
            </button>
          </td>
        </tr>  
      </tbody>
    </table>
  </div>
</div>