<header>
    <app-header (navActive)="toggleNav()"></app-header>
</header>
<div class="blur bgimage">
    <div class="app-navbar" [ngClass] = "{'app-navshow' : isNavActive}">
        <button type="button" class="app-closebutton" (click) = "toggleNav()">x</button>
        <nav>
            <br><br><br>
            <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
            <a routerLink="/cats" routerLinkActive="active">Cats</a>
            <a routerLink="/chats" routerLinkActive="active">Chats</a>
            <a routerLink="/editor" routerLinkActive="active">editor</a>
        </nav>
    </div>
    <div class="app-main" [ngClass] = "{'app-mainleft' : isNavActive}">
        <br>
        <div class="app-title">
            <h1>{{title}}</h1> {{version}}
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<footer>
    <!--<app-footer></app-footer>-->
</footer>