<!-- 헤더입니다. -->
<header>
    <app-header (navActive)="toggleNav()"></app-header>
</header>
<div style="heigth : 50px;"></div>
<!-- 배경 색깔 or 이미지 -->
<div class="blur bgimage">
</div>
<!-- navigation bar 부분 -->
<div class="app-navbar" [ngClass] = "{'app-navshow' : isNavActive}">
    <button type="button" class="app-closebutton" (click) = "toggleNav()"><i class="fa fa-times"></i></button>
    <nav>
        <br><br><br>
        <a routerLink="/calendar" routerLinkActive="active"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a>
        <a routerLink="/cats" routerLinkActive="active"><i class="fa fa-table" aria-hidden="true"></i> Cats</a>
        <a routerLink="/chats" routerLinkActive="active"><i class="fa fa-comments-o" aria-hidden="true"></i> Chats</a>
        <a routerLink="/editor" routerLinkActive="active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editor</a>
        <a routerLink="/css" routerLinkActive="active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Css</a>
        <a routerLink="/thread" routerLinkActive="active"><i class="fa fa-cube" aria-hidden="true"></i> Thread</a>
    </nav>
</div>
<!-- main 부분 
    isNavActive가 켜지면 같이 옆으로 밀려난다.
-->
<div class="app-main" [ngClass] = "{'app-mainleft' : isNavActive}">
    <br>
    <br>
    <!-- 라우트 컴포넌트 출력부분 -->
    <router-outlet></router-outlet>
</div>
<footer>
    <app-footer style="position : relative; bottom : 0;"></app-footer>
</footer>