<app-loading [condition]="isLoading"></app-loading>

<div *ngIf="!isLoading">
  <h2>Current cats ({{cats.length}})</h2>
  <div>
    <table class="cat-table">
      <thead class="cat-thead" *ngIf="!isEditing">
        <tr>
          <th class="cat-th">Name</th>
          <th class="cat-th">Age</th>
          <th class="cat-th">Weight</th>
          <th class="cat-th">Actions</th>
        </tr>
      </thead>
      <tbody class="cat-tbody" *ngIf="cats.length === 0">
        <tr>
          <td colspan="4">There are no cats in the DB. Add a new cat below.</td>
        </tr>  
      </tbody>
      <tbody class="cat-tbody" *ngIf="!isEditing">
        <tr *ngFor="let cat of cats">
          <td class="cat-td">{{cat.name}}</td>
          <td class="cat-td">{{cat.age}}</td>
          <td class="cat-td">{{cat.weight}}</td>
          <td class="cat-td">
            <button class="button" (click)="enableEditing(cat)"><i class="fa fa-pencil"></i> Edit</button> <button class="button" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      <tbody class="cat-tbodyEdit" *ngIf="isEditing">
        <tr>
          <td class="cat-td" colspan="4">
            <div class="form">
              <form #form="ngForm" (ngSubmit)="editCat(cat)" style="display:inline">
                <div>
                    <input class="cat-input" type="text" name="name" [(ngModel)]="cat.name" placeholder="Name" required>
                </div>
                <div>
                  <input class="cat-input" type="number" name="age" [(ngModel)]="cat.age" placeholder="Age" min="0" required>
                </div>
                <div>
                  <input class="cat-input" type="number" name="weight" [(ngModel)]="cat.weight" placeholder="Weight" step="any" min="0" required>
                </div>
                <button class="button" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              </form>
            </div>
            <button class="button" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!isEditing">
  <h3>Add new cat</h3>
  <div>
    <form [formGroup]="addCatForm" (ngSubmit)="addCat()" style="text-align:center">
      <div>
          <input class="cat-input" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div>
        <input class="cat-input" type="number" name="age" formControlName="age" placeholder="Age" min="0">
      </div>
      <div>
        <input class="cat-input" type="number" name="weight" formControlName="weight" placeholder="Weight" step="any" min="0">
      </div>
      <button class="button" type="submit" [disabled]="!addCatForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>