.table td, .table th {
   text-align: center;
   width: 25%;  
}
.register-table{
    width : 70%;
    background-color: #CCC;
    margin : auto;
    padding : 4px;
}
.register-thead{
    background-color: #BBB;
    padding : 8px 8px;
}
.register-tbody{
    background-color: #AAA;
    padding : 8px 8px;
}
.register-tbodyEdit{
    background-color: #AAA;
    padding : 8px 8px;
}
.register-tr{
    padding : 8px 0px;
}
.register-td{
    padding : 8px 0px;
}
.register-th{
    padding : 8px 0px;
}
.register-input{
    width : 360px;
    height : 30px;
    margin : 4px;
    border-radius: 2px;
    border : 1px solid #999;
    padding : 4px 4px 4px 8px;
}
.button{
    width : 100px;
    height : 28px;
    margin : 1px;
    border-radius: 2px;
    border : 1px solid #999;
}
h1, h2, h3, h4{
    text-align: center;
}
.form{
    margin : auto;
    width : 70%;
}