<app-toast [message]="toast.message"></app-toast>


<div class="pen-title">
  <h1>Register</h1>
</div>
<div class="form-module">
  <div class="form">
    <h2>Create an account</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div [ngClass]="setClassUsername()">
        <span><i class="fa fa-user"></i> Username</span>
        <input class="register-input" type="text" name="username" formControlName="username" placeholder="Username" autofocus>
      </div>
      <div [ngClass]="setClassEmail()">
        <span><i class="fa fa-envelope"></i> Email</span>
        <input class="register-input" type="email" name="email" formControlName="email" placeholder="Email">
      </div>
      <div [ngClass]="setClassPassword()">
        <span><i class="fa fa-key"></i> Password</span>
        <input class="register-input" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <div>
        <span><i class="fa fa-black-tie"></i></span>
        <select class="register-input" name="role" formControlName="role">
          <option value="" selected disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <br>
      <button class="button" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"></i> Register</button>
      <button class="button" type="button" (click)="register()"><i class="fa fa-user-plus"></i> Register</button>
      <button type="button" *ngIf="this.closeFunction" (click)="close()"><i class='fa fa-arrow-left'></i> Back</button>
    </form>
  </div>
</div>