<div>
    <h1>event control component</h1>
</div>
<div *ngFor="let event of selectedCell">
    <div class="overTextarea">
        <!--<textarea spellcheck="false" class="eventNote" 
                onkeydown='this.style.height = "1px"; this.style.height = (this.scrollHeight)+"px";' 
                onfocusout='this.style.height = "30px"'
                onfocus='this.style.height = "1px"; this.style.height = (this.scrollHeight)+"px";'
                
                [(ngModel)]="event.note">
        </textarea>
            -->
        <div>
            <div contenteditable="true" spellcheck="false" class="eventNote">{{event.note}}</div>
        </div>
        <button class="eventEditDeleteButton" (click)="click_Edit(event)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
        <button class="eventEditDeleteButton" (click)="click_Del(event)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
    </div>
</div>
<div class="eventForm">
    <p><input class="eventAddTextForm" type="text" [(ngModel)]="addEventDate" placeholder="YYYY-MM-DD"/></p>
    <p><input class="eventAddTextForm" type="text" [(ngModel)]="addEventTitle" placeholder="Title"/></p>
    <p><input class="eventAddTextForm" type="text" [(ngModel)]="addEventNote" placeholder="Note"/></p>
    <p><input class="eventAddTextForm" type="text" [(ngModel)]="addEventLoc" placeholder="Locations"/></p>
    <p><input class="eventAddTextForm" type="text" [(ngModel)]="addEventPic" placeholder="Pictures"/></p>
    <p><button class="eventAddButton" (click)="click_AddEvent()">ADD</button>
    <button class="eventAddButton" (click)="click_Debug()">DEBUG</button></p>
</div>
<br><br><hr><br>