
<div class="app-navbar" [ngClass] = "{'app-navshow' : isNavActive}">
    <button type="button" class="app-closebutton" (click) = "toggleNav()">x</button>
    <nav>
    <p><a routerLink="/dashboard" routerLinkActive="active" (click) = "toggleNav()">Dashboard</a></p>
    <p><a routerLink="/heroes" routerLinkActive="active" (click) = "toggleNav()">Heroes</a></p>
    <p><a routerLink="/calendar" routerLinkActive="active" (click) = "toggleNav()">calendar</a></p>
    </nav>
</div>
<div class="app-main" [ngClass] = "{'app-mainleft' : isNavActive}">
    <span class="app-navibarbutton" (click) = "toggleNav()"> = Navigation Bar </span>
    <div class="app-title">
    <h1>{{title}}</h1>
    </div>
    <div class="app-subtitle">
    <h2>Side Navigation</h2>
    </div>
    <router-outlet></router-outlet>
</div>