<div class="back-image">
        
</div>
<div class="whole">
    <div class="title">
        <div class="title-content">{{thre.title}}</div>
        <div class="title-comment">
            <div>Writer : {{thre.username}}</div>
            <div>Create Date : {{thre.create_date | date :'medium' }} </div>
            <div>Update Date : {{thre.update_date | date :'medium'}}</div>
        </div>
    </div>
    <div class="content">
        <div [innerHTML]="thre.content | safeHtml"></div>
    </div>
    <button (click)="goBack()">back</button>
    <button (click)="goEdit()">edit</button>
</div>