<div class="back-image">
        
</div>
<div class="whole">
    <div *ngIf="thre">
        <!-- 제목 부분 -->
        <div class="title">
            <!-- 제목 -->
            <div class="title-content">{{thre.title}}</div>
            <!-- 작성자와 작성, 업뎃 시각 -->
            <div class="title-comment">
                <div><i class="fa fa-user" aria-hidden="true"></i> {{thre.username}}</div>
                <div><i class="fa fa-calendar" aria-hidden="true"></i> Create, {{thre.create_date | date :'medium' }} </div>
                <div><i class="fa fa-calendar-o" aria-hidden="true"></i> Update, {{thre.update_date | date :'medium'}}</div>
            </div>
        </div>
        <!-- 내용 -->
        <div class="content">
            <div [innerHTML]="thre.content | safeHtml"></div>
        </div>
        <!-- 뒤로가기 버튼 -->
        <button (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i> back</button>
        <!-- 수정, 삭제 버튼 - if 작성자 -->
        <span *ngIf="thre.userid === auth.currentUser._id">
            <button (click)="goEdit()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
            <button (click)="goDelete()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </span>
        <!-- 댓글 부분 -->
        <thread-detail-comments 
            [thre]="thre"
            [id]="id"
            [category]="category"
            [page]="page">
        </thread-detail-comments>
    </div>
</div>
