

.whole{
    margin : 0 auto;
    width : 80%;

    border-radius : 5px; 
}
.back-image{
    background-color: #DDD;

    height : 240px;
    width : 100%;

    position : absolute;
    left : 0;
    top : 50px;
    z-index: -1;
}
.title{
    height : 240px;
    width : 80%;
}
.title-content{
    /*position : absolute;
    margin : 64px 10% ;*/
    margin : 40px auto;
    font-size : 3em;
}
.title-comment{
    /*position : absolute;
    margin : 160px 10%;*/
    margin : 20px auto;
    left : 10%;
}
.content{
    margin : 10px auto 80px auto;
}

button{
    padding : 6px 16px;

    border: 1px solid #BBB;
    border-radius: 4px;
}
button:hover{
    box-shadow: 0 0 4px rgba(111, 111,111, 0.3);
    background-color: #DDD;
}