<div style="border : 1px dotted #AAA; border-radius : 4px; background-color : #F5F5F5;">
    
    <div *ngFor="let category of categoryList" style="margin-right : 4px;"><span (click)="changeCategory(category.name)" style="cursor : pointer;"> {{category.name}}</span></div>
    <!-- 임시로 카테고리 추가용 -->
    <form [formGroup]="addForm" (ngSubmit)="add()">
        <input type="text" name="name" formControlName="name" placeholder="addcategory">
        <button type="submit">Add</button>
    </form>
</div>