<div class="back-image">
        
</div>
<div clsss="whole">
    <div style="height : 120px; margin-top : 40px;">
        <h1>Board</h1>
    </div>
    <div style="margin-bottom : 40px;">
        <div class="lists" *ngFor="let thread of threads">
            <!-- <li *ngFor="let thread of threads"><a [routerLink]="['thread-detail',thread._id]" routerLinkActive="active"><i class="fa fa-calendar" aria-hidden="true"></i>{{thread.title}}</a></li> -->
            <div class="list-title" (click)="move(thread._id)">
                <i class="fa fa-calendar" aria-hidden="true"></i> {{thread.title}}
            </div>
            <div style="padding : 0px 4px 0px 16px; height : 100%; width : 200px; background-color:#CCC; display : inline-block; position : absolute; right : -0; font-size : 14px;">
                <span style="margin : 12px 0 0 16px;">
                <div>{{thread.username}}, </div>
                <div>{{thread.create_date | date : 'medium'}}</div>
                </span>
            </div>
        </div>
    </div>
    <button (click)="newThre()">+ new</button>
</div>