<div class="back-image">
        
</div>
<div class="whole">
    <!-- 제목 -->
    <div style="height : 120px; margin-top : 40px;">
        <h1>Board : {{category}}</h1>
    </div>
    <!-- 리스트 -->
    <div style="margin-bottom : 40px;">
        <!-- 리스트만큼 반복 -->
        <div class="lists" *ngFor="let thread of threads">
            <div class="list-info">
                <div style="padding-top : 4px; padding-bottom : 4px;">
                    <span class="writer">{{thread.username}}</span>
                    <span style="margin-left: 4px; font-size: 12px;">{{thread.create_date | date : 'yyyy/MM/dd-HH:mm:ss'}}</span>
                </div>
            </div>
            <!-- 제목, 클릭하면 글로 이동 -->
            <div class="list-title" (click)="move(thread._id)">
                <span style="width : 40px; display : inline-block;">{{thread.seq_id}} </span><i class="fa fa-flag" aria-hidden="true"></i>  {{thread.title}}
            </div>
            <!-- 작성자와 쓴 시간 -->
        </div>
    </div>
    <!-- 밑에 버튼들 -->
    <button (click)="newThre()"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
    <!-- 페이지 -->
    <div style="margin : 15px 0;"></div>
    <div>
        <button (click)="pageMoveAbsolute(1)">first</button>
        <button (click)="pageMove(-1);">prev</button>
        <span *ngFor="let pagi of countArray"><button (click)="pageMoveAbsolute(pagi)" [ngClass]="{'pagithispage' : pagi == page}">{{pagi}}</button></span>
        <button (click)="pageMove(1);">next</button>
        <button (click)="pageMoveAbsolute(-1)">last</button>
    </div>
</div>