<div class="back-image">
        
</div>
<div class="whole">
    <div *ngIf="thre">
        <div class="title">
            <div class="title-content">{{thre.title}}</div>
            <div class="title-comment">
                <div><i class="fa fa-user" aria-hidden="true"></i> {{thre.username}}</div>
                <div><i class="fa fa-calendar" aria-hidden="true"></i> Create, {{thre.create_date | date :'medium' }} </div>
                <div><i class="fa fa-calendar-o" aria-hidden="true"></i> Update, {{thre.update_date | date :'medium'}}</div>
            </div>
        </div>
        <div class="content">
            <div [innerHTML]="thre.content | safeHtml"></div>
        </div>
        <button (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i> back</button>
        <span *ngIf="thre.userid === auth.currentUser._id">
            <button (click)="goEdit()">edit</button>
            <button (click)="goDelete()">delete</button>
        </span>
        <div style="margin : 40px 0 0 0;">
            <hr>
            <div *ngFor="let comment of comments; let i = index" style="border-bottom : 1px solid #AAA; padding : 8px 4px;">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <p style="font-size : 14px;"><i class="fa fa-child" aria-hidden="true"></i> {{comment.username}}   <span style="font-size : 12px;"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{comment.create_date | date : 'medium'}}</span>
                    <span *ngIf="comment.userid === auth.currentUser._id" style="float : right; margin : 0 10px 0 0">my comment
                        <button (click)="convertMode(2, comment)">edit</button>
                        <button (click)="goCommentDelete(comment)">delete</button>
                    </span>
                </p>
                <div [innerHTML]="comment.content | safeHtml"></div>
            </div>
            <div style="margin : 20px;"></div>
            <!-- <div #comment contenteditable="" style="border : 1px solid #AAA; min-height : 80px; padding : 8px;"></div> -->
            <div style="margin : 10px;"></div>
            <!-- <button (click)="addComment()">comment</button> -->
            <button (click)="convertMode(1)">comment</button>
        </div>
    </div>
</div>


<div class="modal" [ngClass]="{'modal-show' : editPopup}" >
    <div class="modal-layout" (click)="closeModal()">
    </div>
    <div class="modal-box" [ngClass]="{'modal-box-show' : editPopup}">
        <div class="modal-content">
            <!-- <div #editcomment contenteditable="true" [innerHTML]="selComment.content | safeHtml" style=""></div> -->
            <div #comment contenteditable="" [innerHTML]="modComment | safeHtml" style="border : 1px solid #AAA; height : 360px; padding : 8px;">
            </div>
            <div style="margin : 20px;"></div>
            <div *ngIf="editPopup === 1"><button (click)="addComment()">New Comment</button></div>
            <div *ngIf="editPopup === 2"><button (click)="editComment()">Edit Comment</button></div>
        </div>
    </div>
</div>