

.whole{
    margin : 0 auto;
    width: 95%;

    border-radius : 5px; 
}
.back-image{
    background-color: #DDD;

    height : 240px;
    width : 100%;

    position : absolute;
    left : 0;
    top : 50px;
    z-index: -1;
}
/* 제목 */
.title{
    height : 240px;
    /*width : 80%;*/
}
/* 부가 정보 */
.title-content{
    /*position : absolute;
    margin : 64px 10% ;*/
    height : 80px;
    margin : 32px auto;

    font-size : 2em;
}
.title-comment{
    /*position : absolute;*/
    position : relative;
    
    margin : 0px auto;
    /*left : 10%;*/
    top : 0px;
    
    font-size : 0.8em;
}

/* 내용 */
.content{
    margin : 10px auto 80px auto;
}

button{
    padding : 4px 12px;

    background-color: #D8E5EC;

    border: 1px solid #ABBAC2;
    border-radius: 4px;
}
button:hover{
    box-shadow: 0 0 4px rgba(111, 111,111, 0.3);
    background-color: #C7D9E4;
}




