
/* 제목 뒷배경 색깔 */
.back-image{
    background-color: #DDD;

    height : 144px;
    width : 100%;

    position : absolute;
    left : 0;
    top : 50px;
    z-index: -1;
}
/* 전체 모양 */
.whole{
    padding : 10px 0 0 0;    
    margin : 0 auto;
    
    max-width : 720px;

    border-radius : 5px;
}
.lists{
    position: relative;

    margin : 0px 8px 32px 0px;
}
/* 글의 제목 */
.list-title{
    cursor: pointer;

    padding : 8px 4px 4px 12px;
    left : 0; 
    right : 220px;
    
    font-size : 1em;
}
/* 글의 작성일 */
.list-info{
    margin-left: 48px;
    font-size : 0.8em;
    
    background-color:#DAE3E7; 
}
/* 작성자 */
.writer{
    padding-left : 4px;
    padding-right : 8px;
    padding-top : 4px;
    padding-bottom : 4px;
    max-width : 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color : #B7C9CE;
}

/* 현재 선택된 pagi */
.pagithispage{
    background-color: #B0B0B0;
}

button{
    padding : 6px 16px;

    border: 1px solid #BBB;
    border-radius: 4px;
}
button:hover{
    box-shadow: 0 0 4px rgba(111, 111,111, 0.3);
    background-color: #A0A0A0;
}







