

.back-image{
    background-color: #DDD;

    height : 120px;
    width : 100%;

    position : absolute;
    left : 0;
    top : 50px;
    z-index: -1;
}
.whole{

    /*height : 720px; */
    padding : 10px 0 0 0;    
    margin : 0 auto;
    width : 90%;
    min-width : 480px;

    border-radius : 5px; 
}
.lists{
    position: relative;

    margin-right: 40px;
    height : 64px;

    border: 1px solid rgba(111, 111, 111, 0.5);
    border-radius: 2px;

}
.list-title{
    display: inline-block;
    position: absolute;
    cursor: pointer;

    padding : 8px 4px 4px 12px;
    left : 0; 
    right : 220px;
    
    font-size : 0.8em;
}
.list-info{
    padding : 0px 4px 0px 16px; 
    height : 100%; 
    width : 200px; 
    
    display : inline-block; 
    position : absolute; 
    right : -0; 
    font-size : 14px;
    
    background-color:#CCC; 
}
.pagithispage{
    background-color: #B0B0B0;

    /*padding : 10px;*/
}

button{
    padding : 6px 16px;

    border: 1px solid #BBB;
    border-radius: 4px;
}
button:hover{
    box-shadow: 0 0 4px rgba(111, 111,111, 0.3);
    background-color: #A0A0A0;
}







