<div>
    <!-- <a routerLink="thread-list" routerLinkActive="active"><i class="fa fa-calendar" aria-hidden="true"></i> list</a> -->
    <!-- <a routerLink="thread-detail" routerLinkActive="active"><i class="fa fa-table" aria-hidden="true"></i> detail</a>-->
</div>
<div>
    <div style="display : inline-block; width : 78%;" >
        <router-outlet></router-outlet>
    </div>
    <div style="display : inline-block; width : 17%; position : absolute; top : 360px; right : 60px;">
        <thread-category></thread-category>
    </div>
</div>

