
<div clsss="whole">
    <div>
        <h1>Board</h1>
    </div>
    <div style="margin-bottom : 40px;">
        <div class="lists" *ngFor="let thread of threads">
            <!-- <li *ngFor="let thread of threads"><a [routerLink]="['thread-detail',thread._id]" routerLinkActive="active"><i class="fa fa-calendar" aria-hidden="true"></i>{{thread.title}}</a></li> -->
            <div class="list-title" (click)="move(thread._id)">
                <i class="fa fa-calendar" aria-hidden="true"></i>{{thread.title}}
            </div>
            <span style="float : right; margin-right : 16px;">{{thread.username}}, {{thread.create_date | date : 'medium'}}</span>
        </div>
    </div>
    <button (click)="newThre()">+ new</button>
</div>