
<div class="mold">
    <div style="border : 10px solid transparent; border-image: url('https://www.w3schools.com/css/border.png') 30 round;">border image round</div>
    <div style="border : 10px solid transparent; border-image: url('https://www.w3schools.com/css/border.png') 30 stretch;">border image stretch</div>
    <div style="border : 10px solid transparent; border-image: url('https://www.w3schools.com/css/border.png') 50 round;">border image 50 round</div>
    <div style="border : 10px solid transparent; border-image: url('https://www.w3schools.com/css/border.png') 20% round;">border image 20% round</div>
    <div style="border : 10px solid transparent; border-image: url('https://www.w3schools.com/css/border.png') 30% round;">border image 30% round</div>
    <hr>
    <div id="backgroundimage"><h1>background here</h1><p>hello</p>background is not mine</div>

    <div id="backgroundimage" style="background-origin: border-box;"><h1>background here</h1><p>hello</p>origin is border</div>
    <div id="backgroundimage" style="background-origin: content-box;"><h1>background here</h1><p>hello</p>origin is content</div>
    <hr>
    <div style="border : 10px dotted black; background-color:brown;">clip is default</div>
    <div style="border : 10px dotted black; background-color:brown; background-clip : padding-box;">clip is padding</div>
    <div style="border : 10px dotted black; background-color:brown; background-clip : content-box;">clip is content</div>
    <hr>
    <div style="background : linear-gradient(to right, red, yellow);">gradient to right</div>
    <div style="background : linear-gradient(to right bottom, red, yellow);">gradient to right bottom</div>
    <div style="background : linear-gradient(-90deg, red, yellow);">gradient degree</div>
    <div style="background : linear-gradient(-90deg, red, yellow, green);">gradient multicolor</div>
    <div style="background : linear-gradient(-90deg, red, rgba(255, 255, 0, 0.3));">gradient alpha</div>
    <div style="background : repeating-linear-gradient(-90deg, red, rgba(255, 255, 0, 0.3) 20%, yellow 30%);">gradient repeat</div>
    <div style="background : radial-gradient(red, yellow);">gradient radial</div>
    <div style="background : radial-gradient(circle, red, yellow);">gradient radial</div>
    <hr>
    <div style="font-size : 1.5em;">
        <div style="text-shadow : 0 0 3px #777777, 0 0 5px #cccccc;">text multishadow</div>
        <div style="text-shadow : -1px 0 #777, 1px 0 #777, 0 -1px #777, 0 1px #777; color : white;">text border</div>
    </div>
    <div style="display : inline-block; width : 120px; height : 120px; box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">box shadow</div>
    <hr>
    <div style="border : 1px solid #CCC; white-space: nowrap; overflow : hidden; text-overflow : ellipsis;">overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow overflow</div>
    <div style="border : 1px solid #CCC; width : 240px; word-break : keep-all;">This paragraph contains some text. This line will-break-at-hyphens.</div>
    <div style="border : 1px solid #CCC; width : 240px; word-break : break-all;">This paragraph contains some text. The lines will break at any character.</div>
    <hr>
    <div style="display : inline-block; background-color : #CCC; width : 120px; height : 120px;">Box</div>
    <div style="display : inline-block; background-color : #CCC; width : 120px; height : 120px; transform : rotate(10deg);">Box transform : rotate(10deg)</div>
    <div style="display : inline-block; background-color : #CCC; width : 120px; height : 120px; transform : scale(0.8);"> transform : scale(0.8);Box</div>
    <div style="display : inline-block; background-color : #CCC; width : 120px; height : 120px; transform : skewX(10deg);">Box transform : skewX(10deg);</div>
    <div style="display : inline-block; background-color : #CCC; width : 120px; height : 120px; transform : skewY(10deg);">Box transform : skewY(10deg);</div>
    <div style="display : inline-block; background-color : #CCC; width : 120px; height : 120px; transform : skew(10deg, 10deg);">Box transform : skew(10deg, 10deg);</div>
    <hr>
    <div style="display : inline-block; background-color : #CCC; width : 120px; height : 120px; transform : rotateX(45deg);">Box transform : rotateX(45deg)</div>
    <div style="display : inline-block; background-color : #CCC; width : 120px; height : 120px; transform : rotateY(45deg);">Box transform : rotateY(45deg)</div>
    <div style="display : inline-block; background-color : #CCC; width : 120px; height : 120px; transform : rotateZ(10deg);">Box transform : rotateZ(10deg)</div>
</div>