

.grid-wrapper{
	height: 100vh;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh;

	.square {
		position: relative;
		// width: 300px;     
		// height: 25vh;
		overflow: hidden;
	 }
	 img {
		position: absolute;
		max-width: 100%;
		width: 100%;
		height: auto;
		top: 50%;     
		left: 50%;
		transform: translate( -50%, -50%);
	}
	 img.landscape {
	   height: 100%;
	   width: auto;
	 }
}