<div>
    <button (click)="viewHtml()">View Html</button>
    <button data-command='strong' (click)="command('strong')">bold</button>
    <button data-command='backColor' (click)="command('backColor')">backgroundColor</button>
    <button data-command='italic' (click)="command('italic')">italic</button>
    <button data-command='insertUnorderedList' (click)="command('insertUnorderedList')">insertUnorderedList</button>
    <button data-command='formatBlock:h1' (click)="command('formatBlock','h1')">h1</button>
    <button data-command='formatBlock:p' (click)="command('formatBlock', 'p')">p</button>
    <button data-command='fontSize' (click)="command('fontSize', '+')">fontsize up</button>
    <button data-command='fontSize' (click)="command('fontSize', '-')">fontsize down</button>
    <button data-command='foreColor' (click)="command('foreColor', 'red')">font color</button>
    <button data-command='removeFormat' (click)="command('removeFormat', 'red')">remove Format</button>
    <button data-command='style' (click)="command('style', 'test')">style</button>
</div>
<div #editor contenteditable="true" spellcheck="false"  style="border : 1px solid #BBB; margin : 20px; padding : 12px;"
    (keydown)="event_keydown($event)">
    <h1>hi</h1>
    <b>here will be editor</b>
    thank you.
    <br>
    <div>

    </div>
</div>
<button (click)="display()">view content</button>
<div style="width : 100%;  word-wrap: break-word;"><code>{{htmlContent}}</code></div>
<div  style="border : 1px solid #BBB; margin : 20px; padding : 12px;" [innerHTML]="htmlContent | safeHtml"></div>