

.test{
    border: 2px solid #555;

}

button{
    border : 1px solid #999;
    border-radius: 3px;

    padding : 4px 8px;
    margin : 0;
}

.h {
    background-color: #444;
}
#hover {
    background-color: #444;
}