
<!-- navigation bar 부분 -->
<div class="app-navbar" [ngClass] = "{'app-navshow' : isNavActive}">
    <nav>
        <br><br><br>
        <a routerLink="/calendar" routerLinkActive="active"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a>
        <a routerLink="/cats" routerLinkActive="active"><i class="fa fa-table" aria-hidden="true"></i> Cats</a>
        <a routerLink="/chats" routerLinkActive="active"><i class="fa fa-comments-o" aria-hidden="true"></i> Chats</a>
        <a routerLink="/editor" routerLinkActive="active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editor</a>
        <a routerLink="/css" routerLinkActive="active"><i class="fa fa-pagelines" aria-hidden="true"></i> Css</a>
        <a routerLink="/colorpicker" routerLinkActive="active"><i class="fa fa-flask" aria-hidden="true"></i> Color</a>
        <a routerLink="/thread" routerLinkActive="active"><i class="fa fa-cube" aria-hidden="true"></i> Thread</a>
    </nav>
</div>