.users{
    background-color: #AAA;
    width : 200px;
    height : 100%;
    margin : 10px;
}
.chats{
    
    height : 100%;

    border : 2px solid #AAA;
}
.chat-container{
    background-color: #e3eef4;
    border-radius: 5px;
    margin : 10px;
    padding : 8px 8px 24px 8px;
    min-height : 500px;
    max-height : 640px;
    overflow-y: scroll;
}
.chat-inputcontainer{
    background-color: #BBB;
    align-content: center;
}
.chat-from{
    margin : 5px;
}
.chat-msg{
    background-color: #f7f9a7;
    border-radius: 10px;
    margin : 4px;
    padding : 6px 16px 8px 16px;
    display: inline-block;
    width : auto;
}
.chat-date{
    background-color: #ccce8a;
    border-radius: 6px;
    margin : 5px;
    padding : 2px 6px 3px 7px;
    font-size : 14px;
    display: inline-block;
    width : auto;
}
/* 채팅치는 곳 */
.chat-input{
    width : 480px;
    height : 30px;
    margin : 5px;
    border-radius: 2px;
    border : 1px solid #999;
    padding : 4px 4px 4px 8px;
}
.button{
    width : 100px;
    height : 28px;
    margin : 5px;
    border-radius: 2px;
    border : 1px solid #999;
}