
<div class="whole">
    <h1 style="border-bottom : 2px solid #AAA">Anything</h1>
    <div class="users">
        <div *ngFor="let user of users">

        </div>
    </div>
    <div class="chat-inputcontainer">
        <div>
            <div #chatinput contenteditable="true" class="chat-input" #inputMessage placeholder="Type your message"
                (keydown.enter)="enter2($event)"></div>
        </div>
        <button class="button" (click)="sendMessage()">
            <i class="fa fa-share-square-o" aria-hidden="true"></i> Send
        </button>
    </div>
    <hr>
    <div class="chats">
        <div #chatbox class="chat-container">
            <div *ngFor="let message of messages" class="chat-message">
                <!--<img md-list-avatar src="{{message.from.avatar}}">-->
                <h3 class="chat-from"> <b>{{message.from}} </b> </h3>
                <p>
                    <span class="chat-msg" [innerHtml]="message.msg"></span>
                    <span class="chat-date"> {{message.date | date : 'yyyy년 MM월 dd일 hh시 mm분'}} </span>
                </p>
            </div>
        </div>
    </div>
</div>