/*common*/
.center{
    margin: auto;
}

/*components*/
.calendar{
    background-color: #d1e0e0;
    border: 2px;
    border-color: darkslategray;
    border-radius: 8px;
    max-width: 810px;
}
.calendar-header{
    background-color: #a3c2c2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding : 1px 30px 1px 40px;
    color : #293d3d;
}
.calendar-cells{
    padding : 40px 30px 10px 40px;
}
.calendar-footer{
    background-color: #aababa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding : 30px 30px 30px 40px;
}
.cell{
    display: inline-block;
    width : 85px;
    height : 50px;
    /* top-bottom  left-right*/
    padding : 10px 6px 6px 6px;
    margin : 1px;
    border-radius: 4px;
    text-align: center;
    background-color: #f0f5f5;
    color : #344c4c;
    cursor : default;
    transition : box-shadow 0.5s;
    user-select: none; /* text selection disable*/
}
.cell-header{
    height : 30px;
    background-color: #476b6b;
    font-weight: bold;
    font-size: 18px;
    color : #d1e0e0;
}
.cell-disabled{
    background-color: #75a3a3;
    text-align: center;
    color : #d1e0e0;
    cursor: pointer;
}
.cell-this-month{
    background-color: #f0f5f5;
    color : #344c4c;
    cursor: pointer;
}
.cell-clicked{
    background-color: #006666;
    color : #e0ebeb;
    cursor: pointer;
    transition : 0.2s;
}
.cell:hover{
    box-shadow: 0px 0px 8px #888;
    transition : box-shadow 0.4s;
}

.button-today{
    width : 100px;
    height : 35px;
    background-color : #555;
    font-size: 16px;
    color: #FFF; 
    border: none;
    border-radius: 2px;
    margin : 0px 3px;
    /* to-right to-bottomn blur color*/
    box-shadow: 0px 0px 10px #AAA;
    transition : 0.4s;
}
.button-today:hover{
    /* to-right to-bottomn blur color*/
    box-shadow: 0px 0px 15px #888;
    transition : 0.4s;

}

